In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodypain  age  runnynose  diffbreath  infectionprob
0   99.503468         1   78          1          -1              1
1   99.910635         0   19          0           1              1
2  101.111279         1   80          1          -1              1
3   98.206070         0   86          1           0              0
4  101.117788         0   36          1           1              1

In [4]:
df.tail()

           fever  bodypain  age  runnynose  diffbreath  infectionprob
3494  100.360748         0   26          1           0              0
3495  100.784455         0   17          1           0              0
3496  101.067055         1   87          0          -1              1
3497   99.759165         0   23          0          -1              1
3498   98.052756         1   13          0           1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          3499 non-null   float64
 1   bodypain       3499 non-null   int64
 2   age            3499 non-null   int64
 3   runnynose      3499 non-null   int64
 4   diffbreath     3499 non-null   int64
 5   infectionprob  3499 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 164.1 KB

In [6]:
df['runnynose'].value_counts()

1    1791
0    1708
Name: runnynose, dtype: int64

In [7]:
df.describe()

,fever,bodypain,age,runnynose,diffbreath,infectionprob
count,3499.000000,3499.000000,3499.000000,3499.000000,3499.000000,3499.000000
mean,100.008402,0.498142,49.877108,0.511861,-0.019720,0.496142
std,1.164105,0.500068,28.585728,0.499931,0.812924,0.500057
min,98.000163,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.014130,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,100.016509,0.000000,50.000000,1.000000,0.000000,0.000000
75%,101.008609,1.000000,74.000000,1.000000,1.000000,1.000000
max,101.999380,1.000000,100.000000,1.000000,1.000000,1.000000

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([2, 6, 1, 4, 0, 5, 3])

In [11]:
train,test=data_split(df,0.2)

In [12]:
train

           fever  bodypain  age  runnynose  diffbreath  infectionprob
2213   99.337024         1   21          0           0              0
162    98.012446         0    8          1           1              1
1001  101.121717         1   22          0          -1              0
1718  101.370962         1   52          1           0              1
1003  100.513461         0   90          0           1              0
...          ...       ...  ...        ...         ...            ...
1095   98.878740         1   32          1          -1              1
1130   98.823732         1   53          1           0              1
1294  100.780250         0   99          0          -1              0
860    99.832050         0    5          0           1              1
3174   98.100828         1   31          0          -1              1

[2800 rows x 6 columns]

In [13]:
test

           fever  bodypain  age  runnynose  diffbreath  infectionprob
1650   98.370697         0   52          0          -1              1
2456   98.789897         1   54          0          -1              0
2232   99.199373         1   68          1           0              0
1945   99.332781         0   59          0          -1              1
309    99.809425         0   38          0           0              1
...          ...       ...  ...        ...         ...            ...
2250   98.454671         1   40          1           0              0
3127  101.431848         1    9          1          -1              1
744   100.123668         0   27          0          -1              1
631   101.029634         0   48          0           0              1
1557  100.475394         0   85          0          -1              0

[699 rows x 6 columns]

In [14]:
X_train = train[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()
X_test = test[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()

In [15]:
Y_train = train[['infectionprob']].to_numpy().reshape(2800,)
Y_test = test[['infectionprob']].to_numpy().reshape(699,)

In [16]:
Y_train

array([0, 1, 0, ..., 0, 1, 1], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
inputFeatures=[100,1,20,1,1]
infprob=clf.predict_proba([inputFeatures])[0][1]

In [20]:
infprob

0.5384519233289604